.owl-carousel {
  cursor: -moz-grab;
  list-style-type: none !important;
  .owl-nav {
    > div {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      @include transition( opacity .6s );
     i{
       margin-left: 9px;
       color: #333;
       font-size: 36px;
      }
    }
    .owl-next {
      float: right;
    }
  }
  &:hover .owl-nav {
    > div {
      opacity:1;
    }
  }
}

.owl-carousel .owl-item img {
  width: auto !important;
}
.team-member-slider, .team-member-carousel {
  .owl-dots .owl-dot {
      display: inline-block;
  }
  .owl-dots .owl-dot span {
      background: #d6d6d6 none repeat scroll 0 0;
      border-radius: 30px;
      display: block;
      height: 11px;
      margin: 5px 7px;
      transition: opacity 200ms ease 0s;
      width: 11px;
  }
  .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #c59600 none repeat scroll 0 0;
      width: 16px;
      height: 16px;
  }
  &:not(.dot-out).owl-dots {
    bottom: 1px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    width: 100%;
  }
  .owl-dot {
    padding: 3px 0;
  }
  .owl-dot.active {
    padding: 0;
  }
}
.owl-thumbs {
  position: relative;
  z-index: 2;
  margin: 0;
  list-style-type: none !important;
  text-align: center;
  .owl-thumb-item {
    display: inline-block;
    list-style-type: none;
    margin: 0 16px;
    img {
      border-radius: 50%;
      @include transition( all .2s );
    }
    &:hover {
      img {
        -webkit-box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.25);
        -moz-box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.25);
        box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.25);
      }
    }
  }
  .owl-thumb-item.active {
    img {
      -webkit-box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.25);
      -moz-box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.25);
      box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.25);
    }
  }
}
.owl-testimonail {
  .owl-nav {
    position: absolute;
    display: none;
    width: 100%;
    > div {
      position: relative;
      top: auto;
      display: inline-block;
      @include transition( opacity .6s );
     i{
       margin-left: 9px;
       color: #fff;
       font-size: 36px;
      }
    }
  }
  h6 {
    margin: 0;
  }
}
a.testimonial-prev, a.testimonial-next {
    color: #FFF;
    opacity: .25;
    display: inline-table;
    font-size: 36px;
    padding: 10px;
    vertical-align: middle;
    @include transition( opacity .6s );
    &:hover {
      opacity: 1;
      color: #FFF;
    }
  }
.wd-portfolio-carousel.owl-carousel {
  .owl-controls {
    margin-top: 160px;
  }
  .owl-nav > div {
    display: inline-block;
    margin: 0 10px;
    position: relative;
    top: auto;
    font-size: 12px;
    color: #999;
    font-weight: 700;
    text-transform: uppercase;
    @include transition( color .6s );
    &:hover {
      color: #000;
    }
  }
  .owl-nav .owl-next {
      float: none;
  }
}