.vc_tta-tabs {
	.vc_tta-tabs-container {
		ul.vc_tta-tabs-list {
			margin: 0;
			.vc_tta-tab {
				border: 1px solid #e6e6e6;
				color: #68666b;
				font-size: 13px;
				font-weight: 600;
				margin: 0 20px 20px 0;
				a {
					padding: 9px 20px;
				}
			}
			.vc_tta-tab.vc_active {
				background-color: #0064da;
				border-color:#0064da;
				color: #FFF;
				position: relative;
				&:after {
					-moz-border-bottom-colors: none;
					-moz-border-left-colors: none;
					-moz-border-right-colors: none;
					-moz-border-top-colors: none;
					border-color: #0064da transparent transparent;
					border-image: none;
					border-style: solid;
					border-width: 10px;
					content: " ";
					display: inline-block;
					height: 0;
					left: 50%;
					line-height: 0;
					position: absolute;
					top: 47px;
					transform: translate(-50%);
					width: 0;
				}
			}
		}
	}
}


.vc_tta.vc_general.vc_tta-accordion {
	.vc_tta-panel {
		.vc_tta-panel-body {
			padding-left: 46px;
		}
		.vc_tta-panel-body:before {
		  border: 1px solid #dddddd;
		  content: " ";
		  height: 100%;
		  left: 23px;
		  position: absolute;
		}
		.vc_tta-panel-title {
			font-size: 15px;
			border: 1px solid #e9e9e9;
			border-radius: 37px;
			font-weight: 600;
			a {
				color: #0064da;
				padding: 18px 29px;
				span {
					color: #0064da;
				}
			}
		}
	}
	.vc_tta-panel.vc_active {
		.vc_tta-panel-title {
			background-color: #0064da;
			a {
				color: #FFF;
				span {
					color: #FFF;
				}
			}
		}
	}
	.vc_tta-controls-icon {
	  float: right;
	}
}



.vc_tta.vc_general.vc_tta-accordion.style-2 {
	.vc_tta-panel {
		.vc_tta-panel-body {
			padding-left: 46px;
		}
		.vc_tta-panel-body:before {
		  content: "";
		  border: none;
		}
		.vc_tta-panel-title {
			font-size: 15px;
			border: none;
			border-bottom: 1px solid #d4d4d4;
			border-radius: 0;
			font-weight: 600;
			a {
				color: #333333;
				padding: 16px 29px;
				span {
					color: #000;
				}
			}
		}
	}
	.vc_tta-panel.vc_active {
		.vc_tta-panel-title {
			background-color: #fff;
			a {
				color: #333333;
				span {
					color: #333333;
				}
			}
		}
	}
	.vc_tta-controls-icon {
	  float: right;
	}
}