/*
 * ---------testimonials---------------
 */

.wd-testimonail {
    margin: 0;
    blockquote {
        border: none;
        color: inherit;
        text-align: center;
        img {
            border-radius: 0;
            margin: 40px 0;
            height: 100px;
            width: 100px;
            margin-bottom: 14px;
            border-radius: 50%;
        }
        cite {
            text-align: center;
            padding-left: 0;
            font-size: 16px;
            color: $primary-color;
            font-weight: 600;
        }
        .job-title {
            color: #000000;
            font-size: 14px;
            text-align: center;
        }
    }
    .testimonial-text {
        margin-top: 15px;
        font-style: inherit;
        font-size: inherit;
        color: inherit;
        line-height: inherit;
        font-family: inherit;
        text-align: inherit;
        font-style: inherit;
        text-decoration: inherit;
        text-transform: inherit;
        position: relative;
        padding: 0 87px;
        @media #{$small} {
            padding: 0 87px;
        }
        &:before {
            content: "\f10d";
            font-family: "FontAwesome";
            color: rgba(255, 255, 255, 0.4);
            font-size: 18px;
            left: 0;
            position: absolute;
        }
        &:after {
            content: "\f10e";
            font-family: "FontAwesome";
            color: rgba(255, 255, 255, 0.4);
            font-size: 18px;
            position: absolute;
            right: 0;
        }
    }
    .quote {
        display: none;
    }
}

.owl-carousel.testimonial-slider {
    .testimonial-text-container {
        margin-top: 180px;
        .testimonial-name {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                display: inline-block;
            }
            &:after {
                content: " - ";
                padding: 6px;
            }
        }
        p {
            font-style: inherit;
            font-size: inherit;
            color: inherit;
            line-height: inherit;
            font-family: inherit;
            text-align: inherit;
            font-style: inherit;
            text-decoration: inherit;
            text-transform: inherit;
        }
    }
    .owl-nav > div {
        height: 33px;
        padding: 6px 4px;
        width: 33px;
        background-color: #999;
        i {
            color: #fff;
            font-size: 12px;
            margin-left: 5px;
            display: table;
            margin-top: 6px;
        }
        &:hover {
            background-color: #cb9904;
        }
    }
    .owl-nav > div.owl-next {
        left: 37px;
    }
    .owl-nav {
        left: 51.4%;
        position: absolute;
        bottom: 156px;
        width: 69px;
    }
}


/* wd-sly-carousel */

.wd-sly-carousel {
    overflow: hidden;
    ul {
        list-style: none !important;
        margin: 0 !important;
        padding: 0;
        height: 100%;
        li {
            float: left;
            @media #{$small-only} {
              width: 320px;
            }
            width: 430px;
            height: 100%;
            margin: 10px 35px;
            padding: 0;
            color: #000;
            cursor: grab;
            img {
                position: absolute;
                border-radius: 50%;
                top: 14px;
                margin-left: 30px;
            }
            .sly-text {
                background-color: #fff;
                margin-top: 50px;
                padding: 105px 38px 26px;
            }
          &:first-child {
            margin-right: 0;
          }
          &:last-child {
            margin-left: 0;
          }
        }
    }
}

.wd-sly-carousel-container {
    /* Scrollbar */
    .scrollbar {
        margin: 49px 26% 0 0;
        height: 6px;
        background: #FFF;
        line-height: 0;
        .handle {
            width: 100px;
            height: 100%;
            background: #cc9900;
            cursor: pointer;
            .mousearea {
                position: absolute;
                top: -9px;
                left: 0;
                width: 100%;
                height: 20px;
            }
        }
    }
}
