@media #{$medium-up} {
  .five-columns > .vc_col-sm-2 {
    width: 20%;
  }
  .five-columns > .vc_col-sm-2:last-child {
    display: none;
  }



  .wd-content.vc_col-sm-8 {
    width: 72.333%;
  }

  .wd-sidebar.vc_col-sm-4 {
   width: 27.666%;
  }


  .border-bar {
    background: #fff;
    min-width: 40px;
    min-height: 40px;
    position: fixed;
    z-index: 9;
  }
  .body-margin .body-border-top {
    top: -40px;
  }
  .body-border-top {
    top: 0;
    width: 100%;
    position: absolute;
  }
  .body-border-bottom {
    bottom: 0;
    width: 100%;
    left: 0;
    position: absolute;
  }
  .body-border-right,
  .body-border-left {
    height: 100%;
    top: 0;
  }
  .body-border-right {
    right: 0;
  }
  .body-border-left {
    left: 0;
  }
}